/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

header {
    position: relative;
}

#content {
    position: relative;
    z-index: 1;
}

#logo_link img {
    max-width: 80%; /* Adjust the percentage as needed */
}


#hero-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#hero-msg h1,
#hero-msg h4,
#hero-msg .button-box {
    position: relative;
    margin: 0;
}

#hero-msg h1 {
    margin-bottom: 10px;
}

#hero-msg h4 {
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer p {
    margin: 0; /* Reset default margin */
}

footer a {
    color: white;
    text-decoration: none;
}


/* General Styles */
body {
    background-color: #7dcfb6;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

h2 {
    margin: 0;
}

.home-title, h2 {
    font-family: 'Montserrat', Arial, sans-serif;
}

.home-title {
    font-size: 1.5em; /* Adjusted font size */
    margin-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    grid-gap: 20px; /* Add some gap between the columns */
    margin-top: 500px;
}

.book, .join {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
}

.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
}

/* Navigation Styles */
nav {
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    margin-right: 20px; /* Add some margin to separate from the logo */
}

nav a {
    padding: 15px 20px; /* Added padding */
    text-align: center;
    color: #f79256;
    text-decoration: none;
    transition: background-color 0.3s; /* Added transition */
    border-radius: 10px;
}

nav a:hover {
    background-color: #396E94; /* Changed hover background color */
    color: white;
    
}

/* Additional Footer Styles */
footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

/* Background Styles */
#background {
    height: 725px;
    background-color: #fbd1a2;
    position: relative;
}

/* Header Styles */
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Icon Styles */
.icon {
    padding-top: 10px;
}

/* Card Styles */
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

/* Footer Styles */
footer {
    padding: 25px 50px;
    margin-top: 200px;
    background-color: #1d4e89;
    color: white;
}

footer .social img {
    padding-top: 15px;
}

/* Card Image Styles */
.card-img {
    border: 10px solid #000000;
}

.card-img, .mountains {
    width: 100%;
}



/* Main Content Styles */
main img {
    box-sizing: border-box;
}

main section {
    text-align: center;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

/* Button Styles */
.book,
.join {
    background-color: #f79256;
    color: white;
    text-decoration: none;
}

.book:hover,
.join:hover {
    background-color: #fbd1a2;
}

.header-box {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    
}

.utah {
    /* display: none; */
    color: #f79256;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.text {
    color: #f79256;
}

/* Message Section Styles */
.msg h2 {
    color: #f79256;
}

.msg p {
    color: #7dcfb6;
}

/* Logo Styles */
.logo {
    display: inline-block; /* Ensures the logo stays in line with other elements */
}

.logo img {
    max-width: 100px; /* Adjust max width as needed */
    height: auto; /* Ensures the image maintains its aspect ratio */
    display: block; /* Ensures the image is treated as a block element */
    margin-right: 20px; /* Adjust margin for spacing */
    padding-left: 10px; /* Add padding to the left to prevent cutting off */
}

#hero-img {
    width: 100%; /* Set the width to your desired fixed size */
    height: auto; /* Maintain aspect ratio */
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
